body{
    background-image: url(fondo.jpg);
}

div{
    background-image: url(Dia33_11-1.JPG);
    background-repeat: no-repeat;
    background-position: center center;
    
    background-attachment: fixed;
}